h1 {
    margin: 3px;
    color: purple;
    box-sizing: border-box;
    border: 2px dotted black;
}

h2 {
    font-size: xx-large;
    color: darkblue;
}

.h4_1 {
    font-size: x-large;
    color: pink;
}

.h4_2 {
    font-size: x-large;
    color: orange;
}

.front {
    border: 1px solid darkslategray;
    margin: 2px;
    margin-left: 80px;
    margin-right: 80px;
    
    font-size: large;
    text-align: left;

    padding: 2px;
    padding-left: 5px;

}

.pie {
    font-family: 'Times New Roman', Times, sans-serif;
    text-align: center;
    font-size: large;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    background-color: grey;
    padding: 2px;
    border: 2px solid black;
    border-radius: 2%;
}

button {
    width: 300px;
    height: 80px;
    font-size: 150%;
    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 2%;
    }

body {
background-color: blanchedalmond;
    }

.contact { 
    font-size: large;
}

.number {
    text-align: right;
}

.email {
    text-align: right;
    color: blue;
}
.cv {
    border: 1px solid black

}

.years_col {
    font-weight: bold;
    width: 150px;
    border-right: 1px solid black;
    text-align: start;
}

.job_col {
    margin-left: 0px;
}

.experience {
    border: 0px;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: medium;
}

.outer {
    border: 2px dotted orangered;
    font-size: large;
}

.inner {
    border: 1px solid black;
    font-size: large;
}

.message {
    vertical-align: top;
    padding-top: 0;
    margin-top: 0;
}

.area {
    height: 100px;
    width: 170px;
    
}