h1,
h3 {
  color: rgb(64, 71, 103);
}

hr {
  border-top: 4px dotted slategray;
  border-left: 0;
  border-right: 0;
  width: 10%;
}

html {
  height: 100%;
}

body {
  color: rgb(64, 71, 103);
  background-color: #dde9fc;
  margin: 0;
  height: 100%;
}

footer {
  margin-top: 0px;
  padding-top: 5px;
  height: 40px;
  width: 100%;
  background-color: rgb(64, 71, 103);
  color: white;
  font-family: Arial;
  font-size: 16px;
}

#header {
  background-color: #dde9fc;
  color: rgb(64, 71, 103);
  height: 50px;
  font-size: large;
  font-family: Arial;
  position: fixed;
  width: 100%;
  margin-bottom: 20px;
}

#headertable {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.headercontent {
  color: rgb(64, 71, 103);
  text-decoration: none;
}

.headercontent:hover {
  text-decoration: underline;
}

#firstsection {
  height: 100%;
  font-size: 0;
}

#firstsection-firsthalf {
  height: 100%;
  background-color: #ffd5cd;
  font-size: 0;
  width: 50%;
  float: left;
}

#firstsection-secondhalf {
  height: 100%;
  background-color: #efbbcf;
  font-size: 0;
  width: 50%;
  float: left;
}

#secondsection {
  height: 100%;
  background-color: #c3aed6;
  font-size: 0;
}

#thirdsection {
  height: 100%;
  background-color: #8675a9;
  font-size: 0;
}

#footer {
  font-size: 0;
}

#logo {
  height: 30px;
  width: 30px;
  background-color: rgb(64, 71, 103);
  border: 1px solid white;
  border-radius: 50%;
  font-size: smaller;
  font-family: Arial;
}

#intro {
  margin-top: 20px;
}

.pp {
  height: 150px;
  width: 150px;
}

.exp {
  padding-right: 20px;
  padding-bottom: 10px;
}

.row {
  font-size: large;
}

.textarea {
  vertical-align: top;
  padding-top: 0;
  margin-top: 0;
}
