html {
  height: 100%;
}

body {
  text-align: center;
  color: #404767;
  background-color: whitesmoke;
  margin: 0;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}

footer {
  height: 40px;
  width: 100%;
  background-color: #404767;
  color: whitesmoke;
  font-size: 16px;
  bottom: 0;
  padding-top: 10px;
  margin-top: 2%;
}

footer p {
  padding: 0;
  margin-bottom: 0;
}

/* Biography Section */

#hellotext {
  margin: auto;
  text-align: center;
  width: 90%;
}

.container {
  padding: 2%;
  background-color: none;
  color: whitesmoke;
  border-radius: 10px;
}

#background {
  padding: 2% 0 1%;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(64, 71, 103, 1) 64%,
    rgba(0, 212, 255, 1) 100%
  );
}

.pp {
  height: 150px;
  width: 150px;
}

[class*="fa-"] {
  font-size: 2.5rem;
  margin: 3% 3%;
  color: whitesmoke;
}

/* Portfolio Section */

#portfoliobuttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.portfoliobutton {
  border: 1px solid #404767;
  color: #404767;
  margin: 0 1%;
  grid-column: auto;
}

.selected {
  border: 1px solid #404767;
  color: whitesmoke;
  background-color: #404767;
}

.selected:hover {
  color: whitesmoke;
}

#portfoliocards {
  height: 1500px;
  margin: auto;
  margin-top: 3%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (4, 1fr);
}

.portfoliocard {
  grid-column: auto;
  grid-row: auto;
}

.card {
  height: 100%;
  border: 1px solid red;
}

/* Media */

@media (max-width: 700px) {
  #hellotext h1 {
    font-size: 1.5rem;
  }

  #hellotext h3 {
    font-size: 1.2rem;
  }

  [class*="fa-"] {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 0.66rem;
  }
}
