h1,
h3 {
  color: #404767;
}

h3 {
  text-align: center;
}

hr {
  border-top: 3px solid #404767;
  border-left: 0;
  border-right: 0;
  width: 67.5%;
  margin: 0 auto 20px;
}

html {
  height: 100%;
}

body {
  text-align: center;
  color: #404767;
  background-color: whitesmoke;
  margin: 0;
  height: 100%;
  font-family: "Libre Baskerville", serif;
}

footer {
  height: 40px;
  width: 100%;
  background-color: #404767;
  color: whitesmoke;
  position: fixed;
  font-size: 16px;
  bottom: 0;
  padding-top: 10px;
}

footer p {
  padding: 0;
  margin-bottom: 0;
}

/* Biography Section */

#hellotext {
  margin: auto;
  text-align: center;
  width: 90%;
}

.container {
  padding: 2%;
  background-color: whitesmoke;
  width: 55%;
  border-radius: 10px;
}

#background {
  padding: 2% 0;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(64, 71, 103, 1) 64%,
    rgba(0, 212, 255, 1) 100%
  );
}

.pp {
  height: 150px;
  width: 150px;
}

.fab,
.far,
.fas {
  font-size: 2.5rem;
  margin: 1% 3%;
  color: #404767;
}

/* Portfolio Section */

#portfoliobuttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.portfoliobutton {
  border: 1px solid #404767;
  color: #404767;
  margin: 0 1%;
  grid-column: auto;
}

.selected {
  border: 1px solid #404767;
  color: whitesmoke;
  background-color: #404767;
}

.selected:hover {
  color: whitesmoke;
}

#portfoliocards {
  height: 1500px;
  width: 80%;
  margin: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (4, 1fr);
}

.portfoliocard {
  grid-column: auto;
  grid-row: auto;
}

.card {
  height: 100%;
  border: 1px solid red;
}
